body {
    font-size: 16px;
    
   
    font-family: 'Oxygen', sans-serif;
  }
/** HEADER **/
#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 2px solid black;
    /* outline: black solid 5px; */
    
  }
  .style-p1{
      color: black;
      font-weight: bold;
      font-size: 1.5em;
      text-shadow: 1px 1px 1px rgb(65, 37, 37);
  }
  .our-menu{
    color: black;
    
    text-align: center;
  }
  /* style for menu bar */
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }
  #nav-list a {
    color: #111111;
    text-align: center;
  }
  /* menu bar for xs*/
  #nav-list{
    margin-top: 10px;
  }
  /* #nav-list a:hover {
    background: #E7E7E7;
  } */
  #nav-list a{
    color: black;
    text-align: center;
    border: 1px solid black;
    background-color: white;

  }
  
  /*style for block*/
  .title-center{ 
    text-align: center;
    font-weight: bold;
  }
  .set-text{
    text-align: justify;
  }
  div.section {
    background-color: rgba(128, 128, 128, 0.836);
    padding: 5px 20px 15px 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
div{
  display: block;
}